[defaults]
host_key_checking = no
# inventory = inventory.ini
inventory = inventory.yml

[ssh_connection]
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
ssh_args = -o UserKnownHostsFile=/dev/null